<div class="page">
  <!-- Navbar -->
  <cover-navbar></cover-navbar>

  <div class="first-section bg-primary-gradient">
    <div class="announcement">
      The Future of Cloud Computing Conference in Boston is coming up July 24th,
      <span (click)="global.href('https://www.eventbrite.com/e/the-future-of-cloud-computing-tickets-60146343332', true)">
        <u>Register here!</u>
      </span>
      &nbsp;&nbsp;
      <span (click)="global.href('https://conduit-files.s3-us-west-2.amazonaws.com/Conduit-PressRelease.pdf', true)">
        <small><u>Press Release</u></small>
      </span>
    </div>
    <div id="particles"></div>
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-6">
          <div class="info">
            <br>
            <h1 class="mb-3">WELCOME TO CONDUIT</h1>
            <h2 class="mb-4">A Decentralized, HyperConverged<br>Quantum Compute Cloud</h2>
            <p class="font-weight-light mb-5">
              Conduit is revolutionizing the way companies access computing power. We are creating the worlds most powerful meshed cloud solution.
            </p>
            <a href="#subscribe" class="btn btn-round btn-light btn-lg text-primary shadow mr-4">Join the Collective</a>
            <a href="https://openconduit.cloud" target="_blank" class="btn btn-round btn-dark btn-lg shadow">Launch OpenConduit&trade;</a>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <img class="node-network" src="/assets/images/node-network.svg">
        </div>
      </div>
    </div>
  </div>

  <div class="second-section bg-white pt-4 pb-5">
    <div class="container text-center py-5">
      <h1 class="mb-3">Components of the Conduit Network</h1>
      <p class="text-muted compact">
        Your Streamlined, Hybrid Approach to Machine learning, AI, Analytics, Molecular Modeling, Genomics, High Performance Databases, and Workloads Requiring Massive Parallel Floating Point Processing Power.
      </p>
      <div class="row mt-5">
        <div class="col-12 col-lg-4">
          <div class="card mt-4">
            <div class="card-body">
              <img class="open-c" src="/assets/conduit/icon_transparent.png">
              <h3 class="font-weight-bold mt-2">OpenConduit&trade;</h3>
              <p class="text-muted">
                 Manage your hybrid infrastructure across a single platform - from Private to Public Cloud, Software Defined Data Centers, ISV Connections, Edge Fog Platforms, DevOps and Storage back up, DR, Database, Application etc.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-left">
          <div class="card shadow mt-4">
            <div class="card-body">
              <img class="pro-c float-right" src="/assets/conduit/proconduit.png">
              <h5 class="font-weight-bold mt-3">ProConduit&trade;</h5>
              <p class="text-muted">General-purpose GPU<br>compute applications,<br>using CUDA & OpenCL</p>
            </div>
          </div>
          <div class="card shadow mt-4">
            <div class="card-body">
              <img class="pro-e float-right" src="/assets/conduit/openconduit.png">
              <h5 class="font-weight-bold mt-3">ProEdge&trade;</h5>
              <p class="text-muted">Containerized controller<br>for partners of Conduit’s<br>core compute platform</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-left">
          <div class="card shadow mt-4">
            <div class="card-body">
              <img class="super-c float-right" src="/assets/conduit/superconduit.png">
              <h5 class="font-weight-bold mt-3">SuperConduit&trade;</h5>
              <p class="text-muted">High compute-purpose<br>GPU, supercomputer<br>output capabilities</p>
            </div>
          </div>
          <div class="card shadow mt-4">
            <div class="card-body">
              <img class="super-e float-right" src="/assets/conduit/superedge.png">
              <h5 class="font-weight-bold mt-3">SuperEdge&trade;</h5>
              <p class="text-muted">Supercomputer controller<br>for partners of Conduit's<br>core compute platform</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="second-section bg-white p-5">
    <div class="container text-center py-5">
      <h2>How it Works</h2>
      <div class="row">
        <div class="col-12 col-sm-4">
          OpenConduit
        </div>
        <div class="col-12 col-sm-4">
          ProConduit
          <br>
          ProEdge
        </div>
        <div class="col-12 col-sm-4">
          SuperConduit
          <br>
          SuperEdge
        </div>
      </div>
    </div>
  </div> -->

  <div class="third-section pt-4 pb-5">
    <div class="container text-center py-5">
      <h1 class="mb-3 text-white">Who We Serve</h1>
      <h5 class="text-white">
        Anyone can use "the Conduit", but we have a special focus on customers in these industries
      </h5>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card mt-5">
            <div class="card-body">
              <img src="/assets/images/biotech.png">
              <h3 class="mt-3 font-weight-bold">Biotech</h3>
              <p class="text-muted">
                In the process of drug discovery, biopharma companies have more data to analyze than they can manage. Conduit’s decentralized solution provides 5x the amount of computing power to support universities and biotech firms in their R&D efforts.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card mt-5">
            <div class="card-body">
              <img src="/assets/images/supplychain.png">
              <h3 class="mt-3 font-weight-bold">Supply Chain</h3>
              <p class="text-muted">
                The retail and food supply industries are inundated with complex logistical problems everyday. Conduit supplies the power necessary to perform finite element analysis more quickly, leading to a more efficient delivery of everyday goods.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card mt-5">
            <div class="card-body">
              <img src="/assets/images/finance.png">
              <h3 class="mt-3 font-weight-bold">Finance</h3>
              <p class="text-muted">
                Everyday, the financial industry is overwhelmed with capital market data and stock price fluctuations. Conduit increases the efficiency and accuracy of calculations to increase the everyday investor’s portfolio and minimize risk.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- subscribe -->
  <app-subscribe></app-subscribe>

</div>
