/* You can add global styles to this file, and also import other style files */

@import './variables';
@import '~bootstrap-scss/bootstrap.scss';
@import './assets/css/ng-select.scss';

// Range Slider variables & import
$slider-horizontal-width: 80% !default;

@import '~bootstrap-slider/src/sass/bootstrap-slider.scss';

.slider-selection.tick-slider-selection {
  background-color: black;
  background-image: none;
  border-radius: 10px;
}

.slider.slider-horizontal {
  width: calc(100% - 25px);
  margin-left: 10px;
  margin-top: -10px;

  & .slider-track {
    background: #ccc;
    height: 12px;
    margin-top: -6px;
    border-radius: 10px;
    width: calc(100% + 13px);
    left: -10px;
  }
}

.slider-tick {
  height: 5px;
  width: 5px;
  top: 7px;
  cursor: default;
  background-color: black;
  background-image: none;
  &.in-selection {
    background-color: black;
    background-image: none;
  }
}

.slider-handle.round {
  border-radius: 100%;
  border: 2px solid white;
  width: 25px;
  height: 25px;
  top: -3px;
}

// Accordion
ngb-accordion {
  & .card {
    border-width:0;
    background: transparent;
    padding: 0;
    & .card-header {
      padding: 0;
      background: transparent;
      border-width: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      & .btn {
        padding: 0;
        font-size: 24px;
        font-weight: bold;
        line-height: 60px;
        color: black;
        text-decoration: none;
        & fa-icon {
          font-size: 12px;
          position: relative;
          top: -3px;
          margin-right: 5px;
        }
      }
    }
    & .card-body {
      padding: 0;
    }
  }
}

// @import '~ngx-ui-switch/ui-switch.component.scss';


label {
  font-size: 12px;
}
input {
  padding: 12px 15px!important;
}

*:focus {
  outline: none!important;
  box-shadow: none!important;
}

.form-control:focus {
  border-color: $primary;
}

.form-row {
  & .btn {
    padding: 10px!important;
  }
}

.btn {
  font-size: 12px;
  line-height: 28px;
  border-radius: 3px;
}

.modal {
  & .modal-header {
    border-width: 0;
  }
  & .modal-footer {
    border-width: 0;
    padding-bottom: 30px;
    & .btn {
      padding: 12px;
    }
  }
}

// navbar customizations
.bg-dark {
  background: #000!important;
  border-color: #000;
}

.navbar-dark, .navbar-white {
  & .nav-item {
    line-height: 40px;
  }
}

.navbar-dark {
  & .nav-item {
    & .dropdown-menu.show {
      top: 61px!important;
      border-radius: 0 0 5px 5px!important;
      // border-color: #444!important;
    }
    & .nav-link {
      color: white;
      margin-left: 15px;
      &:focus, &:hover {
        color: white;
      }
      & .avatar {
        font-size: 32px;
        height: 32px;
        line-height: 40px;
        margin: 0px 0;
        padding: 0;
      }
    }
  }
}

.bg-primary-gradient {
  background: $primary-gradient !important;
}

.text-primary-gradient {
  color: $primary;
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-placeholder {
  text-align: center;
  min-height: 500px;
  line-height: 500px;
}

.shadow {
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.card {
  border: none;
}

.btn.btn-round {
  border-radius: 30px;
}

.btn-dark {
  background: #000;
  border-color: #000;
}

.text-muted {
  color: #888!important;
}

.compact {
  max-width: 750px;
  line-height: 24px;
  margin: auto;
}

.bottom-border {
  padding-bottom: 20px;
  border-bottom: 5px solid $primary;
}
