<nav class="navbar navbar-expand navbar-white">
  <div class="container pl-3 pr-2">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/conduit/logo_transparent.png">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/company']">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/products']">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/docs']">Docs</a>
      </li>
      <li class="nav-item ml-4">
        <a href="https://openconduit.cloud" target="_blank" class="btn btn-round btn-primary mt-2 mb-2 pr-3 pl-3">OpenConduit Portal</a>
      </li>
    </ul>
  </div>
</nav>
