<form (submit)="submit()">
  <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password">
  </div>
  <div class="form-group">
    <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirm_password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">
      <small class="text-muted">
        I certify that I am 18 years of age or older, and I agree to the User Agreement and Privacy Policy.
      </small>
    </label>
  </div>
  <br>
  <button type="submit" class="btn btn-block btn-lg btn-primary">CREATE ACCOUNT</button>
</form>
