<!-- main navbar -->
<cover-navbar></cover-navbar>

<!-- company nav -->
<nav class="navbar navbar-expand navbar-white mt-3">
  <div class="container pl-2 pr-2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let route of routes">
        <a class="nav-link" [routerLink]="route.path" routerLinkActive="active">{{route.label}}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- company pages -->
<div class="company-page">
  <div class="container pt-4">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- subscribe -->
<app-subscribe></app-subscribe>
