<!-- Navbar -->
<cover-navbar></cover-navbar>

<div class="container">
  <ngb-tabset type="pills" [orientation]="'vertical'">

    <ngb-tab title="About">
      <ng-template ngbTabContent>
        <app-about></app-about>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Press">
      <ng-template ngbTabContent>
        <app-press></app-press>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Careers">
      <ng-template ngbTabContent>
        <app-press></app-press>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Team">
      <ng-template ngbTabContent>
        <app-team></app-team>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
