@import '../../../variables';
// animation
// :host {
//   display: flex;
//   overflow: hidden;
//   height: 100%;
//   main {
//     position: relative;
//   }
//   /deep/ router-outlet ~ * {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//   }
// }

.company-page {
  min-height: 100vh;
  height: auto;
  // margin-top: calc(-10px - 0.5em);
}

.nav-item {
  padding: 0 10px;
  & .nav-link {
    padding-left: 0;
    padding-right: 0;
    &:hover {
      color: $primary;
    }
    &.active {
      border-bottom: 3px solid $primary;
    }
  }
}
