<div class="page">
<!-- page title -->
<h1 class="mb-4">
  <span class="text-primary-gradient">About Conduit</span>
  <a href="mailto:ryan.robinson@conduitcomputing.com?subject=I'm an invesor and I want to know more about Conduit"
     class="btn btn-round btn-dark float-right">
     Are you an Investor?
  </a>
</h1>

<div class="card shadow mb-5">
  <div class="banner"></div>
  <div class="card-body">
    <h4 class="mt-3 mb-4">
      Conduit Computing is building decentralized, HyperConverged Quantum Cloud computing service
    </h4>

    <p>
      Conduit is an MIT endorsed spin-off to solve the Quantum computing advances that enterprise’s face as technology and AI evolve. We are revolutionizing the way companies obtain and utilize computing power by gathering the world’s extra high computing resources to provide the most powerful meshed cloud solution.
    </p>

    <p>
      Conduit’s vision is to transform the cloud into a more resilient mesh of high-tech resources to support specific industry computing needs. The next generation service leverages a quantum framework to manage the hybrid infrastructure making services and compute power easier to provision and use.
    </p>

    <p>
      A GPU instance is becoming the highest recommended solution for high tech compute demands for most deep learning, analytics, modeling and AI purposes. High demand service models operate faster on a GPU instance than a CPU instance. Conduit Computing allows GPU’s to scale sub-linearly when there are multi-GPU instances or, if a distributed need across many instances with GPUs. Providing an end state for a stable Edge Fogged framework.

      Since 2017 Conduit Computing has assembled a team of young intelligent professionals and, industry known senior advisors to develop and organization of success. With an objective to build the next generation cloud while converging existing hybrid infrastructure making high-compute more accessible and available to meet the growing demands.
    </p>
  </div>
</div>

</div>
