.page {
  position: relative;
  width: 100%;
}
.card {
  overflow: hidden;
  & .banner {
    background: black url('/assets/images/bluebanner.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: 250px;
  }
}
