<div class="container">
  <footer class="pt-4 mb-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md company">
        <!-- <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
        <h5>Conduit, Inc</h5>
        <!-- <small class="d-block mb-3 text-muted">
          555 Our St<br>
          City, State Zip<br>
          (555) 555-5555
        </small> -->
        <small class="d-block mb-3 text-muted">© 2019 Conduit Computing</small>
      </div>
      <div class="col-6 col-md">
        <h5>Company</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" [routerLink]="['company', 'about']">About</a></li>
          <li><a class="text-muted" [routerLink]="['company', 'careers']">Careers</a></li>
          <li><a class="text-muted" [routerLink]="['company', 'press']">Press</a></li>
          <li><a class="text-muted" [routerLink]="['company', 'team']">Team</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Products</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" [routerLink]="['products', 'openconduit']">OpenConduit</a></li>
          <li><a class="text-muted" [routerLink]="['products', 'proconduit']">ProConduit</a></li>
          <li><a class="text-muted" [routerLink]="['products', 'proedge']">ProEdge</a></li>
          <li><a class="text-muted" [routerLink]="['products', 'superconduit']">SuperConduit</a></li>
          <li><a class="text-muted" [routerLink]="['products', 'superedge']">SuperEdge</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Social</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.facebook.com/conduit" target="_blank">Facebook</a></li>
          <li><a class="text-muted" href="https://twitter.com/conduitllc?lang=en" target="_blank">Twitter</a></li>
          <li><a class="text-muted" href="https://medium.com/conduitcomputing" target="_blank">Blog</a></li>
          <li><a class="text-muted" href="#"></a></li>
        </ul>
      </div>
      <div class="col-6 col-md contribute">
        <h5>Contribute</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/conduitnetwork" target="_blank">Open Source</a></li>
          <li><a class="text-muted" href="mailto:feedback@conduitcomputing.com?subject=I have a suggestion">Suggestions</a></li>
          <li><a class="text-muted" href="mailto:feedback@conduitcomputing.com?subject=I'd like to report a bug">Bug Reports</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
