/* You can add global styles to this file, and also import other style files */

@import './variables';
@import '~bootstrap-scss/bootstrap.scss';
@import './assets/css/ng-select.scss';
// @import '~ngx-ui-switch/ui-switch.component.scss';

label {
  font-size: 12px;
}
input {
  padding: 12px 15px!important;
}

*:focus {
  outline: none!important;
  box-shadow: none!important;
}

.form-control:focus {
  border-color: $primary;
}

.form-row {
  & .btn {
    padding: 10px!important;
  }
}

.btn {
  font-size: 12px;
  line-height: 28px;
  border-radius: 3px;
}

.modal {
  & .modal-header {
    border-width: 0;
  }
  & .modal-footer {
    border-width: 0;
    padding-bottom: 30px;
    & .btn {
      padding: 12px;
    }
  }
}

// navbar customizations
.bg-dark {
  background: #000!important;
}
.navbar-dark {
  & .nav-item {
    & .dropdown-menu.show {
      top: 61px!important;
      border-radius: 0 0 5px 5px!important;
      // border-color: #444!important;
    }
    & .nav-link {
      color: white;
      line-height: 40px;
      margin-left: 15px;
      &:focus, &:hover {
        color: white;
      }
      & .avatar {
        font-size: 32px;
        height: 32px;
        line-height: 40px;
        margin: 0px 0;
        padding: 0;
      }
    }
  }
}
